.container {
  display: inline-block;
  width: 800px;
  background-color: red;
  margin-left: calc((100% - 800px) / 2);
}
.left-column {
  display: inline-block;
  width: 40%;
  float: left;
  background-color: blue;
}
.right-column {
  width: 60%;
  float: left;
  background-color: sandybrown;
}
